/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.conteneur-principal {
    width: 100%;
    max-width: 1440px;
    min-width: 320px;
    box-sizing: border-box;
    padding: 0 50px;
}

.titre-section {
    margin: 0;
    font-size: 22px;
}

.carte {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.carte img {
    object-fit: cover;
}

.carte-titre {
    font-size: 16px;
}

.carte-sous-titre {
    font-size: 14px;
}

.euro {
    font-weight: 700;
}

.neutral-star { /*modification pour application du css*/
    color: var(--main-bg-color)
}
/* HEADER */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo-mobile {
    display: none;
}

header a img {
    margin: 10px 30px 30px -20px;
    width: 61.09px;
    height: 19px;
}

nav ul {
    margin: 0;
}

nav ul li {
    display: inline-block;
    padding-top: 15px;
}

.lien-hébergements {
    text-decoration: none;
    color: black;
    margin-right: 40px;
}

.lien-hébergements:hover {
    color: var(--main-color);
    padding-top: 16px;
    border-top: 2px solid var(--main-color);
}

.lien-activités {
    color: black;
    text-decoration: none;
    margin-right: -20px;
}

.lien-activités:hover {
    padding-top: 16px;
    border-top: 2px solid var(--main-color);
    color: var(--main-color);
}
/*RECHERCHES*/
.recherches-filtres-info h1 {
    margin-bottom: 0;
}

h1 + p {
    font-size: 1.1em;
    margin-top: 5px;
    margin-bottom: 30px;
}

.recherches {
    display: flex;
    flex-direction: row;
}

.location i {
    color: #000000;
    background-color: var(--main-bg-color);
    padding: 27px 20px 26px 20px;
    border-radius: 16px 0 0 16px;
    font-size: 1.1rem;
}

.barre input {
    padding: 15px;
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
    border-color: var(--main-bg-color);
    border-style: solid;
    border-right: none;
    outline: none;
}

.bouton-recherche {
    cursor: pointer;
    background-color: var(--main-color);
    color: white;
    padding: 15px;
    border-radius: 0 16px 16px 0;
    font-size: 1.1rem;
    font-weight: bold;
    border: none;
    height: 54px;
}

.bouton-et-loupe i{
    display: none;
}
/*Filtres*/
.filtres {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    align-items: center;
}

.filtres h3 {
    justify-content: center;
    font-size: 1.1rem;
}

.bouton-filtres {
    display: flex;
}

.bouton-filtres button {
    cursor: pointer;
    width: auto;
    border-radius: 50px;
    border-color: var(--main-bg-color);
    border-style: solid;
    background-color: white;
    border-width: 3px;
    padding: 15px;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
}

.bouton-filtres button:hover {
    background-color: var(--filter-bg-color);
}

.bouton-filtres button i {
    margin-right: 7px;
    color: var(--main-color);
}
/*Info*/
.info {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-bottom: 15px;
    align-items: center;
}

.info button {
    margin: 10px 10px 10px 0;
    width: auto;
    border-radius: 100%;
    border-color: var(--main-bg-color);
    border-style: solid;
    background-color: white;
    border-width: 2px;
    text-align: center;
}

.info p {
    font-size: 1.05rem;
}

/****** Hebergements And Populaires ***********/
.hebergements-et-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-et-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

.titre {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Hebergements */
.hebergements {
    width: 65%;
}

.hebergements h2 {
    font-size: 1.4rem;
}

.cartes-hebergements {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    margin-top: 15px;
    padding-top: 15px;
}

.cartes-hebergements a {
    width: 30%;
    height: inherit;
    text-decoration: none;
    color: #000000;
    box-sizing: border-box;
}

.cartes-hebergements .carte {
    width: 100%;
    box-sizing: border-box;
}

.cartes-hebergements img {
    width: 100%;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-top: 0;
    box-sizing: border-box;
}

.cartes-hebergements .contenu-carte {
    width: 100%;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.cartes-hebergements .carte-titre {
    margin: 0;
}

.cartes-hebergements .carte-sous-titre {
    margin: 4px 0;
}

.cartes-hebergements+p {
    font-size: 1.3rem;
    cursor: pointer;
    margin: 15px 0 0 0;
    padding-top: 15px;
}
/*Responsive Hébergements*/
.port .carte-titre {
    width: 60.9%;
}

.amina .carte-titre {
    width: 81.1%;
}

.mouettes .carte-titre {
    width: 89.7%;
}

.mer .carte-titre {
    width: 70.7%;
}

.panier .carte-titre {
    width: 84.6%;
}
/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires h2 {
    font-size: 1.4rem;
}

.populaires-cartes a {
    margin: 0;
    width: 30%;
    text-decoration: none;
    color: #000000;
}

.populaires-cartes .carte {
    display: flex;
    margin-top: 33px;
}

.populaires-cartes img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-top: 0;
}

.populaires-cartes .contenu-carte {
    width: 67%;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cartes .carte-titre {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cartes .carte-sous-titre {
    margin: 0;
}

.populaires-cartes .note-carte {
    margin-bottom: 5px;
}
/*ACTIVITES*/
.activités {
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
}

.garde .carte-titre {
    width: 90.3%;
}

.pomègues .carte-titre {
    width: 64.33%;
}

.vieux-port .carte-titre {
    width: 37.34%;
}

.activités h2 {
    margin-top: 35px;
    margin-bottom: 30px;
}

.activités-cartes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
}

.activités-cartes a { 
    width: 25%;
    text-decoration: none;
    color: #000000;
}

.activités-carte {
    width: 100%;
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.1));
    box-sizing: border-box;
}

.activités-cartes img {
    object-fit: cover;
    width: 100%;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-top: 0;
}

.activités-cartes .contenu-carte {
    width: 100%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.activités-cartes .carte-titre {
    margin-top: 20px;
    margin-bottom: 20px;
}
/*FOOTER*/
.footer-div {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--main-bg-color);
}

.footer-div a {
    color: black;
    text-decoration: none;
    text-transform: none;
}

footer ul {
    list-style-type: none;
    width: 66%;
}

footer ul li {
    margin-bottom: 10px;
}

footer ul b {
    font-size: 1.2em;
}
/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    header a img {
        margin-left: 0;
    }

    header .lien-activités {
        margin-right: 0;
    }
    
    .recherches-filtres-info {
        margin-left: 0;
        margin-top: 50px;
    }

    h1 + p {
        margin-bottom: 35px;
    }

    .location i {
    padding: 27px 20px 26.5px 20px;
    }

    .filtres {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .bouton-filtres button {
        margin-left: 0;
        font-size: 1rem;
    }

    .info {
        margin-top: 0;
        margin-bottom: 30px;
    }
    
    .info button {
        margin-right: 10px;
        margin-left: 0;
    }

    .hebergements-et-populaires {
        flex-direction: column;
        margin-right: 0;
        margin-left: 0;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cartes {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cartes .carte {
        width: 100%;
        box-sizing: border-box;
    }

    .populaires-cartes .carte-titre {
        font-size: 14px;
    }

    .populaires-cartes .carte-sous-titre {
        font-size: 13px;
    }

    .activités {
        box-sizing: border-box;
    }

    .activités h2 {
        margin-top: 50px;
        margin-bottom: 30px;
    }

    .activités-cartes img {
        height: 200px;
    }

    .activités-cartes {
        width: 100%;
    }

    .activités-cartes .carte-titre {
        margin-top: 15px;
    }

    .activités-cartes .contenu-carte {
        height: 73.4px;
        justify-content: center;
    }

}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    .conteneur-principal {
        padding: 0;
    }
    /* ... */
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
    }

    .logo-booki {
        display: none;
    }

    .logo-mobile {
        display: block;
        margin: 30px;
        height: 19px;
        width: 61.09px;
    }

    nav {
        width: 100%;
        box-sizing: border-box;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        padding-left: 0;
        justify-content: space-between;
        width: 100%;
    }

    nav ul li {
        box-sizing: border-box;
        padding-top: 0;
        font-size: 1rem;
        width: 50%;  
        text-align: center;  
        border-bottom: 3px solid var(--main-bg-color);
        margin-right: 0;
        padding-bottom: 16px;
    }

    nav ul li:hover {
        border-bottom: 3px solid var(--main-color);
        padding-bottom: 16px;
        border-top: none;
    }

    .lien-hébergements {
        margin-right: 0;
    }
    .lien-hébergements:hover {
        border-top: none;
    }
    
    .lien-activités:hover {
        border-top: none;
    }

    .recherches-filtres-info {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 30px;
        box-sizing: border-box;
    }

    .recherches-filtres-info h1 {
        font-size: 1.3rem;
        margin: 0;
    }

    h1 + p {
        font-size: 1rem;
        margin: 8px 0 35px 0;
    }
    
    .recherches {
        box-sizing: border-box;
        justify-content: center;
    }

    .location i {
    padding: 27px 20px 27px 20px;
    }

    .barre {
        flex: 1;
    }


    .barre input {
        border-style: solid;
        border-color: var(--main-bg-color);
        border-right: none;
        font-weight: bold;
        text-align: start;
        width: 92%;
    }

    .bouton-et-loupe button {
        display: none;
    }

    .bouton-et-loupe i {
        color: white;
        display: block;
        cursor: pointer;
        background-color: var(--main-color);
        border-radius: 17px;
        padding: 27px 20px 27px 20px;
        font-size: 1.1rem;
        font-weight: bold;
        margin: 0 0 0 -33px;
    }

    .filtres h3 {
        font-size: 1.1rem;
    }

    .bouton-filtres {
        width: 100%;
        margin-bottom: 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .bouton-filtres i {
        padding-right: 10px;
        font-size: 0.9rem;
    }

    .bouton-filtres button i {
        margin-right: 0;
    }
    
    .bouton-filtres button {
        box-sizing: border-box;
        margin-bottom: 20px;
        font-size: 70%;
        width: 46%;
        border-width: 3px;
        margin-right: 0;
        display: flex;
        flex-direction: row;
        text-align: center;
    }

    #familial {
        padding-left: 20px;
    }

    .info {
        align-content: center; 
        margin-bottom: 0;
    }

    .info p {
        font-size: 0.9rem;
        margin-bottom: 0;
        margin-top: 0;
    }
    
    .info button {
        margin-right: 10px;
    }

    .info button i {
        font-size: 0.75rem;
        align-content: center;
        margin: 5px;
    }

    .hebergements-et-populaires { 
        flex-direction: column-reverse;
    }

    .hebergements-et-populaires section {
        margin-bottom: 5px;
        border-radius: 0;
        padding: 30px 20px 30px 20px;
    }

    .populaires {
        margin-top: 35px;
    }
    .populaires h2 {
        font-size: 1.4rem;
    }

    .populaires h2 + i {
        font-size: 1.1rem;
    }

    .populaires-cartes {
        flex-direction: column;
    }

    .populaires-cartes a {
        width: 100%;
    }

    .populaires-cartes .carte {
        width: 100%;
    }

    #carte-padding .carte-titre {
        width: 90%;
    }

    .populaires-cartes .contenu-carte {
        padding-left: 15px;
    }

    .populaires-cartes .carte img {
        height: 140px;
    }
    
    .populaires-cartes .carte-titre {
        font-size: 1rem;
        width: 100%;
        margin-top: 15px;
    }

    .populaires-cartes .carte-sous-titre {
        font-size: 0.9rem;
    }

    .populaires-cartes .note-carte {
        font-size: 1rem;
    }

    .hebergements-et-populaires .hebergements {
        background-color: white;
    }

    .hebergements h2 {
        font-size: 1.4rem;
    }

    .cartes-hebergements {
        flex-direction: column;
    }

    .cartes-hebergements a {
        width: 100%;
    }

    .cartes-hebergements .carte {
        width:100%;
    }

    .cartes-hebergements img {
        height: 120px;
    }

    .cartes-hebergements .carte-titre {
        font-size: 1rem;
        margin-bottom: 4px;
    }

    .cartes-hebergements .carte-sous-titre {
        font-size: 0.9rem;
        margin-bottom: 8px;
    }

    .cartes-hebergements .note-carte {
        font-size: 1rem;
    }

    .cartes-hebergements+p {
        font-size: 1.2rem;
        margin-top: 0;
    }

    .activités {
        margin-bottom: 35px;
    }

    .activités h2 {
        font-size: 1.4rem;
        margin-top: 20px;
    }

    .activités-cartes {
        flex-direction: column;    
    }

    .activités-cartes a {
        width: 100%;
    }

    .activités-cartes .activités-carte {
        width: 100%;
    }

    .activités-carte img {
        height: 141px;
    }

    .activités-carte .contenu-carte {
        height: 59px;
    }

    .activités-carte .carte-titre {
        margin: 20px 19px 20px 4px;
        font-size: 1.1rem;
    }

    .footer-div {
        flex-direction: column;
        padding: 30px 30px 20px 30px;
        gap: 40px;
    }

    footer ul {
        margin: 0;
        padding: 0;
    }

    footer ul b {
        font-size: 1.1rem;
    }
}